*, *::before, *::after {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #F5F5F0;
  font-family: Inter, sans-serif;
}

#root {
  width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}